<a href="https://colab.research.google.com/github/rashmi0319-05/DataAnalysis/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
df = {'A':[1,2,np.nan,4,5],
      'B':[np.nan,2,3,4,np.nan],
      'C':[1,2,3,np.nan,5]}
df = pd.DataFrame(df)
print(df)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  NaN  5.0

In [4]:
print(df)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  NaN  5.0

In [6]:
df_cleaned_rows=df.dropna()
print(df_cleaned_rows)

     A    B    C
1  2.0  2.0  2.0

In [7]:
df_cleaned_columns=df.dropna(axis=1)
print(df_cleaned_columns)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [9]:
df_imputed_mean=df.fillna(df.mean())
print("Imputed with mean:")
print(df_imputed_mean)
print()

Imputed with mean:
     A    B     C
0  1.0  3.0  1.00
1  2.0  2.0  2.00
2  3.0  3.0  3.00
3  4.0  4.0  2.75
4  5.0  3.0  5.00

In [10]:
df.mean()

A    3.00
B    3.00
C    2.75
dtype: float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       3 non-null      float64
 2   C       4 non-null      float64
dtypes: float64(3)
memory usage: 248.0 bytes

In [17]:
df.isna().sum()

A    1
B    2
C    1
dtype: int64

In [18]:
df.describe()

              A    B         C
count  4.000000  3.0  4.000000
mean   3.000000  3.0  2.750000
std    1.825742  1.0  1.707825
min    1.000000  2.0  1.000000
25%    1.750000  2.5  1.750000
50%    3.000000  3.0  2.500000
75%    4.250000  3.5  3.500000
max    5.000000  4.0  5.000000

In [20]:
df.shape

(5, 3)

In [21]:
df_imputed_interpolation=df.interpolate()
print("Imputed with interpolation:")
print(df_imputed_interpolation)
print()

Imputed with interpolation:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  4.0  4.0  4.0
4  5.0  4.0  5.0

In [23]:
import pandas as pd
df = pd.DataFrame(df)
data=df['A']
Z_scores=(data-data.mean())/data.std()
outliers = data[abs(Z_scores)>0.5]
print(outliers)

0    1.0
1    2.0
3    4.0
4    5.0
Name: A, dtype: float64

In [24]:
import pandas as pd
data = pd.Series([10,12,15,8,500,18,20,25,30])
Z_scores = (data - data.mean()) / data.std()
outliers = data[abs(Z_scores)>1]
print(outliers)

4    500
dtype: int64

In [35]:
import pandas as pd
from scipy.spatial.distance import mahalanobis
import numpy as np

data=np.array([[1,2],
               [2,3],
               [5,10],
               [6,30]])
mean=np.mean(data,axis=0)
cov_matrix=np.cov(data,rowvar=False)
inv_cov_matrix=np.linalg.inv(cov_matrix)
outliers=[]

# Set a threshold for outlier detection
threshold = 3  # Example threshold, adjust as needed

for point in data:
  mahalanobis_dist=mahalanobis(point,mean,inv_cov_matrix)
  if mahalanobis_dist > -1 :
    outliers.append(point)
print(outliers)

[array([1, 2]), array([2, 3]), array([ 5, 10]), array([ 6, 30])]